run = "npm run dev -- --host 0.0.0.0.0"
modules = ["nodejs-20", "web"]

[nix]
channel = "stable-25_05"
packages = ["psmisc"]

[agent]
expertMode = true

[[ports]]
localPort = 8080

[[ports]]
localPort = 8081
externalPort = 80

[deployment]
deploymentTarget = "cloudrun"
